@page
@model Reporting.Web.Pages.Shipping.ShippingLabelModel
@{
}
<div class="text-center">
    <button id="btnGet" class="btn btn-info">GET ITEMS</button>
</div>
<br />
<div class="text-center divResult">
    @if (Model.LabelContent != null) {
      
        <p>@Html.Display(Model.LabelContent)</p>
    }
  
</div>